body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f4f4f4;
}

.container {
  text-align: center;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  user-select: none;
  -webkit-user-drag: none;
}

#contador {
  font-size: 40px;
  margin-bottom: 20px;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}